:root {
    --background: black;
    --color1: rgb(85, 85, 85);
    --text-color: white;
    --color-green: #32EB0C;
    --color-light-green: rgb(0, 0, 0);
    --color-red: rgb(182, 0, 0);
}

body {
    margin: 0;
    background-color: black;
    font-family: sans-serif;
    color: var(--text-color);
    overflow: hidden;
}